body {
    background-color: rgb(77, 28, 150);
    color: lightgray;
}
/* li {
    transition: all 0.5s ease-out;
    opacity: 0;
}

li.show {
    opacity: 1
} */
/* input {
    background-color: blueviolet;
}
:-ms-input-placeholder {
    color: white;
} */